<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zjw.blog.deal.link.dao.LinkMapper" >
  <resultMap id="BaseResultMap" type="org.zjw.blog.deal.link.entity.Link" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="linkName" property="linkName" jdbcType="VARCHAR" />
    <result column="linkUrl" property="linkUrl" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderNo" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="deleteFlag" property="deleteFlag" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, linkName, linkUrl, orderNo,createDate,deleteFlag
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from link
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
     from link
     where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 根据各种条件查询 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="map">
  	SELECT
  	<include refid="Base_Column_List"/>  
    FROM 
    (SELECT * FROM link
    <where>
     <if test="id!=null">
	 id=#{id}
	</if>
	<if test="linkName!=null">
	 AND linkName like '%${linkName}%'
	</if> 
	 AND deleteFlag=1
    <if test="start!=null and rows!=null">
     LIMIT #{start},#{rows}
    </if> 
    </where>
    )temp
    <if test="order!=null">
	order by  temp.${sort} ${order}
	</if>
  </select>
  
   <!-- 根据各种条件查询记录数 -->
  <select id="selectCountByCondition" resultType="int" parameterType="map">
  	SELECT 
  	count(*) 
  	 FROM link
	<where> 
	<if test="id!=null">
	 id=#{id}
	</if>
	<if test="linkName!=null">
	 AND linkName like '%${linkName}%'
	</if> 
	 AND deleteFlag=1
	</where>
  </select>
  
  <!-- 批逻辑删除	 -->
  <update id="deleteLogicBatch" >
  	 UPDATE 
  	 link 
  	 SET deleteFlag=0 
  	 where id in
  	 <foreach collection="array" item="id" open="(" close=")" separator=",">
  	 	#{id}
  	 </foreach>
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from link
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.zjw.blog.deal.link.entity.Link" >
    insert into link ( linkName, linkUrl, 
      orderNo)
    values (#{linkName,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.zjw.blog.deal.link.entity.Link" >
    insert into link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="linkName != null" >
        linkName,
      </if>
      <if test="linkUrl != null" >
        linkUrl,
      </if>
      <if test="orderNo != null" >
        orderNo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="linkName != null" >
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.zjw.blog.deal.link.entity.Link" >
    update link
    <set >
      <if test="linkName != null" >
        linkName = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        linkUrl = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        orderNo = #{orderNo,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zjw.blog.deal.link.entity.Link" >
    update link
    set linkName = #{linkName,jdbcType=VARCHAR},
      linkUrl = #{linkUrl,jdbcType=VARCHAR},
      orderNo = #{orderNo,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>