<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zjw.blog.deal.blog.dao.BlogTypeMapper" >
  <resultMap id="BaseResultMap" type="org.zjw.blog.deal.blog.entity.BlogType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="typeName" property="typeName" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderNo" jdbcType="INTEGER" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="deleteFlag" property="deleteFlag" jdbcType="INTEGER"/>
  </resultMap>
  <resultMap id="BaseResultMapVo" extends="BaseResultMap" type="org.zjw.blog.base.vo.blog.BlogTypeVo">
    <result column="blogCount" property="blogCount" jdbcType="INTEGER"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, typeName, orderNo,createDate,deleteFlag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from blog_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- 查询博客类型以及该类型下博客的数量 -->
  <select id="selectBlogCountByType" resultMap="BaseResultMapVo" >
  	SELECT 
  		bt.id,
  		bt.typeName,
  		COUNT(*) as blogCount 
  		FROM 
		blog_type bt LEFT JOIN blog  b on(bt.id=b.typeId and b.deleteFlag=1) 
		WHERE bt.deleteFlag=1
		group by bt.id 
  </select>
  <!-- 多条件查询vo -->
  <select id="selectVoByCondition" resultMap="BaseResultMapVo" parameterType="map">
  	SELECT 
	  	bt.*,
	  	(SELECT COUNT(*) FROM blog WHERE typeId=bt.id and deleteFlag=1) as blogCount  
	  	FROM 
	  	blog_type bt 
	  	WHERE 1=1
	  	<if test="deleteFlag!=null">
	  	 AND bt.deleteFlag=#{deleteFlag}
	  	</if> 
	  	<if test="typeName!=null and typeName !=''">
	  	AND bt.typeName like '%' #{typeName} '%'
	  	</if>
	  	<if test="(startDate !=null and startDate!='') and (endDate != null and endDate!='')">
	  	 AND UNIX_TIMESTAMP(createDate) BETWEEN  
	  	 UNIX_TIMESTAMP(#{startDate})  AND UNIX_TIMESTAMP(#{endDate})
	  	</if>
	  	<if test="(startDate !=null and startDate!='') and (endDate == null or endDate=='')">
	  	  AND  UNIX_TIMESTAMP(createDate)>=UNIX_TIMESTAMP(#{startDate})
	  	</if>
	  	<if test="(startDate ==null or startDate=='') and (endDate != null and endDate!='')">
	  	  AND  UNIX_TIMESTAMP(createDate) &lt;= UNIX_TIMESTAMP(endDate)
	  	</if>
	  	<if test="start!=null and rows!=null">
	  		LIMIT #{start},#{rows}
	  	</if>
  </select>
  <!-- 多条件查询vo记录数 -->
  <select id="selectVoCountByCondition" resultType="int" parameterType="map">
  	SELECT 
	  	COUNT(*)
	  	FROM 
	  	blog_type bt 
	  	WHERE 1=1
	  	<if test="deleteFlag!=null">
	  	 AND bt.deleteFlag=#{deleteFlag}
	  	</if> 
	  	<if test="typeName!=null">
	  	AND bt.typeName like '%' #{typeName} '%'
	  	</if>
  </select>
  
  <!-- 逻辑批删除 -->
  <update id="deleteLogicBatch">
  	UPDATE blog_type 
  	SET deleteFlag=0 
  	WHERE  deleteFlag=1
  	 <foreach collection="array" item="id" open="and(" close=")" separator="or">
  	 	id=#{id}
  	 </foreach>
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.zjw.blog.deal.blog.entity.BlogType" >
    insert into blog_type (id, typeName, orderNo
      )
    values (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{orderNo,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.zjw.blog.deal.blog.entity.BlogType" >
    insert into blog_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="typeName != null" >
        typeName,
      </if>
      <if test="orderNo != null" >
        orderNo,
      </if>
      <if test="createDate != null">
      	createDate,
      </if>
       <if test="deleteFlag != null">
      	deleteFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=INTEGER},
      </if>
       <if test="createDate != null">
      	#{createDate},
      </if>
       <if test="deleteFlag != null">
      	#{deleteFlag},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.zjw.blog.deal.blog.entity.BlogType" >
    update blog_type
    <set>
      <if test="typeName != null" >
        typeName = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        orderNo = #{orderNo,jdbcType=INTEGER},
      </if>
       <if test="createDate != null">
      	createDate=#{createDate},
      </if>
       <if test="deleteFlag != null">
      	deleteFlag=#{deleteFlag},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.zjw.blog.deal.blog.entity.BlogType" >
    update blog_type
    set typeName = #{typeName,jdbcType=VARCHAR},
     orderNo = #{orderNo,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>